{% extends "base.html" %}

{% block content %}
<h2>Your Projects</h2>

<a href="{% url 'project_create' %}">
  ➕ Create New Project
</a>

<hr>

{% if projects %}
  <ul>
    {% for project in projects %}
      <li>
        <strong>{{ project.title }}</strong>
        {% if project.is_ready %}
          <span>✅ Ready</span>
        {% else %}
          <span>🟡 Needs features</span>
        {% endif %}
        <br>

        <small>Updated {{ project.updated_at|date:"M d, Y H:i" }}</small><br><br>

        <a href="{% url 'project_update' project.pk %}">✏️ Edit</a>
        &nbsp;|&nbsp;
        {## <a href="{% url 'project_detail' project.pk %}">View</a> ##}
      </li>
      <hr>
    {% endfor %}
  </ul>
{% else %}
  <p>No projects yet.</p>
{% endif %}

<!-- PAGINATION -->
{% if is_paginated %}
  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% endif %}

{% endblock %}
