{% extends "base.html" %}
{% block title %}Login · Projectly{% endblock %}

{% block content %}
<div class="container" style="max-width: 420px;">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="mb-3 text-center">Login</h3>

            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Login
                </button>
            </form>
        </div>
    </div>

    <p class="text-muted text-center mt-3">
        New here? Just use Django admin to create a user for MVP.
    </p>
</div>
{% endblock %}
